body {
    font-family:"Chakra Petch", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    background-color: rgba(236, 236, 236, 0.555);
}

#listHeader{
    font-family:"Chakra Petch", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
}

nav {
        font-family:"Chakra Petch", sans-serif;
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    background-color: #b1fcd6bd;
}

#championLists{
    margin: 50px;
}
#landingPageHeroCard {
    margin-top: 20px;
    margin-bottom: 20px;
}

#landingPageHeroCard > h1{
    font-family:"Chakra Petch", sans-serif;
    font-size: 68px;
    font-weight: 500;
    font-style: normal;
}

#landingPageHeroCard > p{
        font-family:"Chakra Petch", sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
}

footer {
    background-color: #b1fcd6bd;
    border-radius: 10px;
    width: 80%;
}